<div class="page">
  <div class="menu">
    <div id="button-gen1" class="menu--button menu--button-gen1" (click)="buttonGen1Click()">
      <p id="text-gen1">geração 1</p>
    </div>

    <div id="button-gen2" class="menu--button menu--button-gen2" (click)="buttonGen2Click()">
      <p id="text-gen2">geração 2</p>
    </div>
  </div>

  <div class="submenu">
    <div id="button-poke1" class="submenu--button submenu--button-poke1" (click)="buttonPoke1Click()">
      <p id="text-poke1">poke 1</p>
    </div>

    <div id="button-poke2" class="submenu--button submenu--button-poke2" (click)="buttonPoke2Click()">
      <p id="text-poke2">poke 2</p>
    </div>

    <div id="button-poke3" class="submenu--button submenu--button-poke3" (click)="buttonPoke3Click()">
      <p id="text-poke3">poke 3</p>
    </div>

    <div id="button-poke4" class="submenu--button submenu--button-poke4" (click)="buttonPoke4Click()">
      <p id="text-poke4">poke 4</p>
    </div>

    <div id="button-poke5" class="submenu--button submenu--button-poke5" (click)="buttonPoke5Click()">
      <p id="text-poke5">poke 5</p>
    </div>

    <div id="button-poke6" class="submenu--button submenu--button-poke6" (click)="buttonPoke6Click()">
      <p id="text-poke6">poke 6</p>
    </div>

    <div id="button-poke7" class="submenu--button submenu--button-poke7" (click)="buttonPoke7Click()">
      <p id="text-poke7">poke 7</p>
    </div>
  </div>

  <div class="content">
    <div class="content--sphere">
      <div class="content--img">
        <img src="{{ img }}" alt="Pokemon Sprite">
      </div>
    </div>

    <div class="content--data">
      <div class="content--data-name-en">
        <p>{{ nomeEn }}</p>
      </div>

      <div class="content--data-name-jp">
        <p>{{ nomeJp }}</p>
      </div>

      <div class="content--data-genus">
        <p>{{ genusEn }}</p>
      </div>

      <div class="content--data-id">
        <p>#{{ id }}</p>
      </div>
    </div>

    <div class="content--type-a" (click)="tipoA()">
      <p>tipo A</p>
    </div>
    <div class="content--type-b" (click)="tipoB()">
      <p>tipo B</p>
    </div>

    <div class="content--description">
      <p>{{ flavorTextEn }}</p>
    </div>
  </div>

</div>